.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 56px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #fff;
  background-color: #458FF6;
  border-radius: 55px;
}
